.navbar{
    background-color:var(--theme);
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo{
    color: white;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
}
.logo-link{
    opacity: 0.8;
    cursor: pointer;
    margin: 0.5rem 1rem;
    color: blue;
    border-radius: 2rem;
}
.logo-link:hover{
    opacity: 1;
    transition: all 0.3s;
    cursor: pointer;
}
.user-panel {
    position: absolute;
    top: 3rem;
    right: 0;
    background: rgba(46, 110, 96, 0.7);
    border-radius: 8px;
    box-shadow: var(--theme);
    padding: 10px;
    min-width: 200px;
    z-index: 1000;
    justify-content: center;
}
  
.user-panel p {
    margin: 5px 0;
    font-size: 14px;
    color: white;
    font-family: sans-serif;
    margin: 0.8rem;
}