.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}
.Charts-wrapper{
  height: auto;
  padding: 2rem ;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  display: block;
  justify-content: center;
  margin: 2rem 1rem;
  width: 80%;
}
.chart-analysis{
  justify-content: center;
  margin: 3rem;
}
.chart-expenses{
  padding: 0%;
  margin-left: -2rem;
}
@media (min-width:700px){
  .Charts-wrapper{
    height: auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    width: 90%;
  }
}
